body {
  font-family: sans-serif;
  margin: 0 auto;
}

.navbar {
  background-color: cyan;
  border-radius: 2px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  pointer-events: none;
}

#lblLoadSetup {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #106ba0;
  display: inline-block;
  transition: all 0.25s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

#lblLoadSetup:hover {
  background: red;
}

#list div ul {
  padding: 0px 10px;
  list-style-type: none;
}

#list div ul:not(:last-child) {
  border-right: 3px solid cyan;
}

#list div {
  border: 4px solid #106ba0;
  padding: 0 15px;
  margin-bottom: 5px;
}
