body {
    font-family: sans-serif;
    height: 100vh !important;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    align-content: stretch;
    display: grid;
    grid-template-areas:
        'navbar'
        'main'
        'footer';
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#navbar {
    grid-area: navbar;
}

#main {
    display: grid;
    grid-area: main;
    grid-template-columns: subgrid;
}

#footer {
    grid-area: footer;
}

.chakra-slide {
    position: relative !important;
}

.main-grid {
    display: grid !important;
    grid-template-areas:
        'tabs'
        'tables';
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr;
}

.grid-children {
    display: grid;
    grid-template-columns: subgrid;
}

.main-tabs {
    grid-area: tabs;
    overflow-x: auto;
}

.main-table {
    grid-area: tables;
    overflow-x: auto;
}

.badge {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-top: -0.75rem;
}

.footer {
    font-size: 0.9rem;
}

.footer-icon {
    margin-bottom: 0.2rem;
}

.footer-icon:hover {
    color: #02c3ee;
}

.footer-copyright {
    margin-right: 0.4rem;
}

.footer-version {
    margin-right: 0.3rem;
}

.inputfile {
    height: 0.1px;
    opacity: 0;
    /*overflow: hidden;*/
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

.inputfile + label {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 700;
}

.inputfile:focus + label,
.inputfile + abel:hover {
    background-color: #ff0000;
}

.inputfile + label {
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    pointer-events: none;
}

#lblLoadSetup {
    background-color: #02c3ee;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.855555rem;
    font-weight: 600;
    padding: 15px 40px !important;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.25s;
    width: fit-content;
    width: 100%;
}

#lblLoadSetup:hover {
    background: #ff3000;
}

.tab-sticky {
    background: #ffffff;
    overflow-x: auto;
    padding-bottom: 2px;
    position: sticky !important;
    top: 0 !important;
}

* {
    box-shadow: none !important;
}
