#main {
    display: grid;
    grid-area: main;
    grid-template-columns: subgrid;
}

#footer {
    grid-area: footer;
}

.main-grid {
    display: grid !important;
    grid-template-areas:
        'tabs'
        'tables';
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr;
}

.grid-children {
    display: grid;
    grid-template-columns: subgrid;
}

.main-tabs {
    grid-area: tabs;
    overflow-x: auto;
}

.main-table {
    grid-area: tables;
    overflow-x: auto;
}

.badge {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-top: -0.75rem;
}

.footer {
    font-size: 0.9rem;
}

.footer-icon {
    margin-bottom: 0.2rem;
}

.footer-icon:hover {
    color: #02c3ee;
}

.footer-copyright {
    margin-right: 0.4rem;
}

.footer-version {
    margin-right: 0.3rem;
}


.tab-sticky {
    background: #ffffff;
    overflow-x: auto;
    padding-bottom: 2px;
    position: sticky !important;
    top: 0 !important;
}

* {
    box-shadow: none !important;
}
