#footer {
    grid-area: footer;
}

.footer {
    font-size: 0.9rem;
}

.footer-icon {
    margin-bottom: 0.2rem;
}

.footer-icon:hover {
    color: #02c3ee;
}

.footer-copyright {
    margin-right: 0.4rem;
}

.footer-version {
    margin-right: 0.3rem;
}

